{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
        {{ temy|json_script:"temy" }}    
        {{ odbory|json_script:"odbory" }}
        {{ ucitelia|json_script:"ucitelia" }}
        {{ studenti|json_script:"studenti" }}
        {{ dostupnost|json_script:"dostupnost" }}
        <div class="main_wrap">
            <div class="items" id="items">
            </div>
            <div id="filters" class="filters">
                <label for="filter_nazov">Názov</label>
                <input id="filter_nazov" type="text" class="filter_nazov">
                <label for="filter_odbor">Odbor</label>
                <select id="filter_odbor" class="filter">
                    <option value="">Všetko</option>
                </select>
                <label for="filter_konzultant">Konzultant</label>
                <select id="filter_konzultant" class="filter">
                    <option value="">Všetko</option>
                </select>
                <label for="filter_dostupnost">Dostupnost</label>
                <select id="filter_dostupnost" class="filter">
                    <option value="">Všetko</option>
                </select>
            </div>
        </div>
    </main>
    <script id="filter" src="{% static 'soc/filter.js' %}" type="module"></script>
{% endblock content %}
