{% extends "base.html" %}
{% load static %}
{%block nazov_stranka%}
    <title>Štatistiky | SOČ</title>
{%endblock nazov_stranka%}
{% block style%}
    <link rel="stylesheet" href="{% static 'soc/css/statistiky.css' %}">
{% endblock style%}
{% block content %}
<main>
    <div class="main_wrap">
        <div class="information">
            <h2>Témy</h2>
            <p class="nadpis_detail"><strong>Počet tém: </strong></p>
            <p class="text">{{temy}}</p>
            <p class="nadpis_detail"><strong>Počet zabraných tém: </strong></p>
            <p id="zabrane" class="text">{{zabrane}}</p>
            <p class="nadpis_detail"><strong>Počet voľných tém: </strong></p>
            <p id="volne" class="text">{{volne}}</p>
            <p class="nadpis_detail"><strong>Počet čakajúcich tém: </strong></p>
            <p id="cakajuce" class="text">{{cakajuce}}</p>
            <h2>Učitelia</h2>
            <p class="nadpis_detail"><strong>Počet učiteľov: </strong></p>
            <p class="text">{{ucitelia}}</p>
            <p class="nadpis_detail"><strong>Počet učiteľov s témou: </strong></p>
            <p id="ucitelia_s_temamy" class="text">{{ucitelia_s_temamy}}</p>
            <p class="nadpis_detail"><strong>Počet učiteľov bez témy: </strong></p>
            <p id="ucitelia_bez_temy" class="text">{{ucitelia_bez_temy}}</p>
            <h2>Žiaci</h2>
            <p class="nadpis_detail"><strong>Počet žiakov: </strong></p>
            <p class="text">{{ziaci}}</p>
            <p class="nadpis_detail"><strong>Počet žiakov s témou: </strong></p>
            <p id="studenti_s_temamy" class="text">{{studenti_s_temamy}}</p>
            <p class="nadpis_detail"><strong>Počet bez témy: </strong></p>
            <p id="studenti_bez_temy" class="text">{{studenti_bez_temy}}</p>
        </div>
        <div class="grafy">
            <div id="graf_temy" class="graf"></div>
            <div id="graf_ucitelia" class="graf"></div>
            <div id="graf_studenti" class="graf"></div>            
        </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script id="grafy" src="{% static 'soc/js/grafy.js' %}" type="module"></script>
</main>
{% endblock content %}
