body {
    margin:0;
    background-color: #f0f0f0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #77ad2e;
    min-height: 3vw;
    display: flex;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    float: left;
}

main {
    display: flex;
    justify-content: center;
}
footer{
    background-color: #6da02b;
    display: flex;
    justify-content: space-around;
    margin-top:auto;
}

.header_list {
    font-size: 16px;
    display: block;
    padding: 6px;
}

.header_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_nazov {
    font-size: 22px;
    margin: 0 1vw 0 1vw;
}

.main_wrap {
    min-height: 38vw;
    margin: 2vw 0 2vw 0;
    display: flex;
    width: 75%;
}
