a {
    padding: 0.7vw;
    text-decoration: none;
    color: white;
}
a {
    display: block;
    position: relative;
    padding: 0.2em 0;
}
a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

a:hover::after,
a:focus::after {
    transform: scale(1);
}

.filters {
    height: 18.5rem;
    background-color: #cfcfcf;
    border-radius: 15px;
    padding: 1vw;
    margin-right: 1vw;
    min-width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filter {
    font-size: 0.9rem;
    width: 100%;
    margin: 0.2vw 0 0.5vw 0;
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
    padding: 0.675em 0 0.675em 0.75em;
    overflow: auto;
}

.filters label {
    font-size: 0.9rem;
    margin: 1vw 0 0 0.5vw;
}

.filter_nazov {
    font-size: 0.9rem;
    width: 94%;
    margin: 0.3vw 0 0.6vw 0;
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    padding: 0.675em 0 0.675em 0.75em;
}