body {
    margin:0;
    background-color: #f0f0f0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #77ad2e;
    min-height: 3vw;
    display: flex;
}
details {
    margin: 0 auto ;
    background: #999;
    margin-bottom: .5rem;
    box-shadow: 0 .1rem 1rem -.5rem rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
    color:white;
}
details:nth-child(even) {
    background: #999;
}
details:last-child {
    margin-bottom: 0;
}
summary {
    padding: 0.7rem;
    display: block;
    background: #999;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
    user-select: none;
}
summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}
details[open] > summary:before {
    transform: rotate(90deg);
}

details summary::-webkit-details-marker {
    display:none;
}
main {
    display: flex;
    justify-content: center;
}
footer{
    background-color: #6da02b;
    display: flex;
    justify-content: space-around;
    margin-top:auto;
}
.header_left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_left a {
    font-size: 25px;
    padding: 0.7vw;
    text-decoration: none;
    color: white;
}
.right {
    margin: 0;
    float:right;
    font-size: 14px;
    padding: 0.4vw 0.6vw 0.2vw 0.6vw;
    margin-right: 0.4vw;
    border-width: .4px;
    border-radius: 4px;
    color: black;
}
.left {
    float:left;
    min-width: 95%;
    color: white;
    font-size: 16.7px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.main_wrap {
    min-height: 40vw;
    margin: 2vw 0 2vw 0;
    display: flex;
    min-width: 75%;
}

.items {
    min-height: 90%;
    background-color: #cfcfcf;
    border-radius: 15px;
    padding: 1vw;
    margin-right: 1vw;
    min-width: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

