body {
    margin:0;
    background-color: #f0f0f0;
    display: flex;
    font-family: "Quicksand", sans-serif;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #77ad2e;
    min-height: 3vw;
    display: flex;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    float: left;
}

main {
    display: flex;
    justify-content: center;
}
footer{
    background-color: #6da02b;
    display: flex;
    justify-content: space-around;
    margin-top:auto;
}

.header_list {
    font-size: 16px;
    display: block;
    padding: 6px;
}

.header_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}

.header_nazov {
    font-size: 22px;
    margin: 0 1vw 0 1vw;
}

a {
    padding: 0.7vw;
    text-decoration: none;
    color: white;
}
a {
    display: block;
    position: relative;
    padding: 0.2em 0;
}
a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

a:hover::after,
a:focus::after {
    transform: scale(1);
}
